
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex-grow: 1
}
header h2 {
    margin-top: 400px;
    margin-bottom: 10px;
    padding-top: 10px;
}
footer {
    background-color: #80ced6;
    margin-top: 50px;
}
footer h1 {
    padding-top: 20px;
}
